/* == POST PAGINATION == */

.afc-post-links {

float:left;

width:100%;

margin-top:20px;

padding:20px 0;



}



.afc-post-links a{

color:#e67e22;

font-weight: 600;

}





.afc-post-links a:hover{

text-decoration:underline;

}



.afc-post-links .afc-previous{

float:left;

width:50%;

}

.afc-post-links .afc-next{

float:right;

width:50%;

text-align:right;

}



/* == RELATED CONTENT == */

.afc-related-wrapper {

float:left;

margin:3% 0;

width:100%;

box-sizing:border-box;

}

.afc-related-wrapper > h3 {

border-bottom:1px solid #666;

float:left;

margin-bottom:1%;

width:100%;

}

.afc-related-post {

float:left;

margin-left:4%;

width:22%;

position:relative;

}

.afc-related-post:nth-of-type(4n+1) {

clear:left;

margin-left:0;

}

.afc-related-post h3 {

width:100%;

float:left;

margin-top:5px;

}

.afc-related-post h3 a {

font-size:14px;

line-height:20px;

overflow:hidden;

float:left;

width:100%;

margin-top:5px;

}



.afc-related-thumbnail {

float:left;

position:relative;

width:100%;

}



.afc-related-thumbnail img {

width:100% !important;

}



/* == AUTHOR INFO == */

.afc-author-info {

margin:3% 0;

float:left;

width:100%;

}

.afc-author h2 {

line-height:18px;

margin:0 0 2% 0;

}

.afc-author-avatar {

float:left;

width:20%;

}

.afc-author-avatar img {

height:80%;

width:100% !important;

}

.afc-author-desc {

float:right;

padding-left:3%;

width:80%;

box-sizing:border-box;

}

.afc-author-links {

float:right;

margin-top:10px;

width:auto;

}



.afc-author-links:hover {

text-decoration:underline;

}



.afc-author .afc-social-buttons {

float:left;

margin-right:0;

margin-top:10px;

margin-bottom: 0;

width:auto;

}



.afc-author .afc-social-buttons div {

float:left;

width:30px;

margin-left:0;

margin-right:10px;

text-align:center;

}



#fb-button {

	background:#3b5998;

}



#tw-button {

	background:#55ACEE;

}



#gp-button {

	background:#dd4b39;

}



#ln-button {

	background:#007bb6;

}



#pn-button {

	background:#cb2027;

}



/* == SOCIAL SHARING == */

.afc-social-sharing {

float:left;

width:100%;

}



.afc-social-button {

	display:inline;

}



.afc-social-button a, .afc-social-button iframe, .afc-social-button div {

    display: block !important;

    float: left !important;

    line-height: 0 !important;

    margin: 0 1em 0 0 !important;

}



#g1-wrapper iframe{

margin-left: -25px !important;

}



/* == POST META == */

.afc-post-meta { 

float:left;

width:100%;

}



/* == CUSTOM TEXT == */

.afc-text {

float:left;

width:100%;

}



/* == CUSTOM IMAGE == */

.afc-image {

float:left;

width:100%;

padding:1%;

margin:3% 0 !important;

}

.afc-image img{

width:auto !important;

display:block;

margin: 0 auto !important;

}



/* == BANNER == */

